*{
  box-sizing: border-box;
}
.calculator {
  background-color: $lightGrayishCyan1;
  overflow-x: hidden;
  height: 100vh;
  @include breakpoint-up(large) {
  }

  &__logo {
    img {
      padding: 4.4rem 0;
      margin: 0 auto;
      display: block;

      @include breakpoint-up(large) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
  }
  &__app {
    background-color: $white;
    border-radius: 2.5rem 2.5rem 0 0;
    font-size: $font-xsm;
    padding-top: 4rem;
    padding-bottom: 4rem;

    // breakpoint for large and up screens
    @include breakpoint-up(large) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      width: 60%;
      border-radius: $border-rad-med;
      font-size: $font-sm;
      padding: 2.2rem;
    }
  }
  &__data {
    padding-right: 3rem;
    padding-left: 3rem;
    @include breakpoint-up(large) {
      width: 50%;
      padding: 0;
      padding-right: 3.2rem;
    }
  }

  &__bill {
    position: relative;

    input {
      background: url(/images/icon-dollar.svg) no-repeat 1.5rem center
        $lightGrayishCyan2;
      margin-top: 0.8rem; //distance between name and input
      margin-bottom: 0.8rem;
      cursor: pointer;
    }
    @include breakpoint-up(large) {
      font-size: $font-sm;
    }
  }

  &__tip {
    .button {
      padding: 0.8rem 0 0.8rem 0;
      &__item {
        height: 4rem;
        width: 100%;
        text-align: center;
        font-family: "Space Mono", monospace;
        font-weight: 700;
        font-size: $font-sm;
        border: none;
        border-radius: $border-rad-sm;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &--green {
          background-color: $veryDarkCyan;
          color: $white;

          &:hover {
            background-color: $lightGrayishCyan1;
            color: $veryDarkCyan;
          }
        }

        &--light {
          background-color: $lightGrayishCyan2;
        }

        &--green.active {
          background-color: $strongCyan;
          color: $veryDarkCyan;
        }
      }

      &__customPercentage {
        &:invalid:focus,
        &:invalid.active {
          outline: $error-color solid 2px;
        }
        &:valid:focus,
        &:valid.active {
          outline: solid 2px $strongCyan;
        }
      }
    }
  }

  &__people {
    position: relative;
    input {
      background: url(/images/icon-person.svg) no-repeat 1.5rem center
        $lightGrayishCyan2;
      margin-top: 0.8rem;
      margin-bottom: 4rem;
      cursor: pointer;
     
      @include breakpoint-up(large) {
        margin-bottom: 0rem;
      }
    }
  }
  &__result {
    background-color: $veryDarkCyan;
    padding: 2.4rem 0 2.4rem 0;
    border-radius: $border-rad-med;
    margin: 0 2.4rem;

    @include breakpoint-up(large) {
      width: 60%;
      margin: 0rem;
    }
  }
  &__container {
    display: grid;
    color: $white;
    gap: 0;
    padding: 0 2.4rem 2rem 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "tip value1"
      "total value2";
    row-gap: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  
    @include breakpoint-up(large) {
    }

  }
  &__reset {
    display: block;
    width: calc(100vw - 10rem);
    height: 4rem;
    background-color: $strongCyan;
    color: $veryDarkCyan;
    border: none;
    border-radius: $border-rad-sm;
    grid-area: button;
    margin: 0 auto;
    font-weight: 700;
    font-family: "Space Mono", monospace, sans-serif;
    cursor: pointer;
    transition: background-color .3s ease;

    @include breakpoint-up(medium) {
      font-size: $font-med;
    }
    @include breakpoint-up(large) {
      width: 100%;
      height: 4.8rem;
      align-self: end;
      justify-content: center;
      align-items: center;
      font-size: $font-med;
    }
    
    &:active {
      transform: scale(.99);
    }
    &:hover, &:active {
      background-color: $lightGrayishCyan1; 
      box-shadow:2px 2px 2px blue;
    }
  } 
  .description {
    font-size: $font-sm;
    font-weight: 700;

    & > span {
      display: block;
      font-size: $font-xsm;
      color: $darkGrayishCyan1;
    }
    @include breakpoint-up(large) {
      font-size: $font-med;
      & > span {
        font-size: $font-sm;
      }
    }
  }

  &__amount {
    grid-area: tip;
  }
  &__total {
    grid-area: total;
  }
  .value {
    font-size: $font-lg;
    justify-self: end;
    color: $strongCyan;
    font-weight: 700;
    
    @include breakpoint-up(large) {
      font-size: $font-xlg;
      justify-self: end;
    }
  }
  &__tipValue {
    grid-area: value1;
  }

  &__totalValue {
    grid-area: value2;
  }
}
