// colors
$strongCyan: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan1: hsl(186, 14%, 43%);
$darkGrayishCyan2: hsl(184, 14%, 56%);
$lightGrayishCyan1: hsl(185, 41%, 84%);
$lightGrayishCyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$error-color:   #e05f2c;

// fonts

$font-xsm: 1.2rem;
$font-sm: 1.4rem;
$font-med: 1.8rem;
$font-lg: 2.3rem;
$font-xlg: 3.5rem;

$border-rad-sm: 5px;
$border-rad-med: 15px;
